<link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="512x512" href="img/icon-512.png">
<link rel="icon" type="image/png" sizes="192x192" href="img/icon-192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/icon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/icon-16.png">
<link rel="manifest" href="img/site.webmanifest">
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" site="KIMXZGTH" defer></script>
<!-- / Fathom -->