{{/* Funding Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}
{{ $items_type := $st.Params.content.page_type | default "funding" }}
{{ $columns := $st.Params.design.columns | default "1" }}

{{ if ne $columns "1" }}
{{/* Standard dual-column layout. */}}

<div class="row">
  <div class="col-12 col-lg-4 section-heading">

    {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}

  </div>
  <div class="col-12 col-lg-8">

{{ else }}
{{/* Single column layout. */}}

<div class="margin-auto">

  <div class="center-text">
    {{ with $st.Title }}<h1 class="mt-0">{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  <div>
{{ end }}


    <div class="js-layout-masonry">
      {{ range $idx, $item := where site.RegularPages "Type" $items_type }}

        {{ $link := $item.RelPermalink }}
       
        {{ if eq $st.Params.design.view 1 }}
          {{ partial "li_list" (dict "item" $item) }}
        {{ else if eq $st.Params.design.view 2 }}
          {{ partial "li_compact" (dict "item" $item) }}
        {{ else if eq $st.Params.design.view 3 }}
          {{ partial "funding_li_card" (dict "widget" $st "index" $idx "item" $item "link" $link "target" $target) }}
        {{ end }}

      {{ end }}
    </div>

  </div>
</div>
